img {
    max-width: 100%;
    display: block;
}

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

.navBar button {
   background-color: transparent;
   border: none;
}

// blog basic styles

.blogWrapper {
    width: 80%;
}
