// Footer Styles

footer {
    background-color: $primary;

    .wrapper {
        display: flex;
        justify-content: space-evenly;
        
    }
        h2 {
            padding: 150px 0 50px 0;
        }
}

.contactNav {
    .footerSocial {
        padding-top: 40px;

        a {
            padding-right: 15px;
        }
    }
}

.blogPosts {
    h2 {
        text-align: center;
    }
}

.twitterForm {
    h2 {
        text-align: right;
    }

    form {
        display: flex;
        justify-content: right;
        font-family: $bodyFont;
        font-size: 0.7rem;
        padding-top: 40px;

        input {
            padding: 10px;
            padding-right: 50px;
            border-radius: 0;;
            border: none;
        }

        button {
            border: none;
            cursor: pointer;
            padding: 10px 15px;
            background-color: $lightSage;

            p {
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }


}

.footerLogo {
    border-top: 1px solid $creativeAgencyBorder;
    margin-top: 200px;

    p {
        letter-spacing: 5px;
        text-align: center;
        text-transform: uppercase;
        padding: 75px 0;
    }
}

