// header styles for background image

header {
    background-image: url(../assets/home-1.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

// blog Header
.blogHeader {
    background-image: url(../assets/blog-1.jpeg);
}

