// Skip Link
.skipLink {
    position: absolute;
    left: -1000px;
    top: 5px;
    background-color: $secondary;
    color: $footerTextColor;
    z-index: 10;
    &:focus {
        left: 0;
    }
}

.navBar {
    position: sticky;
    top: 0;
    padding: 15px 0;
    z-index: 10;
    background-color: $navBarColor;

    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    ul, .searchCart {
        display: flex;
        align-items: center;
        
    }

    a {
        padding: 15px;
    }

    .shoppingBag {
        position: relative;
    }

    .shoppingBag .counter {
        background-color: $lightSage;
        display: inline-block;
        position: absolute;
        bottom: -10px;
        right: -5px;
        border-radius: 50%;
    }

    .smallText {
        padding: 4px;
    }

}

// Slide out Nav
.navBar {
    label div {
        z-index: 20;
        cursor: pointer;
    }
    
    i {
        cursor: pointer;
    }
}

.menuIcon {
    padding: 25px;
}

.slideOutNav {
    background-color: $primary;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    max-width: 200px;
    color: $footerTextColor;
    padding: 35px 50px;
    transition: 0.75s;
    display: none;
    ul {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        li {
            padding: 10px;
        }
    }
    
}

// Slide out Nav with CSS

// .navBar input[type=checkbox] {
//     opacity: 0;
//     position: absolute;
//     &:checked ~ .slideOutNav {
//         //don't want to target the check box, by using ~ we can target a sibling element, in this case the slideOutNav
//         display: block;
//     }
// }

