// Font Families
$headerFont: "Montserrat";
$bodyFont: "Open Sans";
$navFont: "Montserrat";
$buttonFont: "Montserrat";

// Colours:
$primary: #333333;
$secondary: #f6f6f6;
$footerTextColor: #ffffff;
$lightSage: #c3dab7;
$bodyFontColor: #737373;
$creativeAgencyBorder: #424242;
$commentDateColor: #b9b9b9;
$navBarColor: #efefef;

// font-family: 'Montserrat',sans-serif;