// Font Families
$headerFont: "Montserrat";
$bodyFont: "Open Sans";
$navFont: "Montserrat";
$buttonFont: "Montserrat";

// Font size
$baseFontSize: 1rem;

// Colours:
$primary: #333333;
$secondary: #f6f6f6;
$footerTextColor: #ffffff;
$lightSage: #c3dab7;
$bodyFontColor: #737373;

// font-family: 'Montserrat',sans-serif;