html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

.navBar button {
  background-color: transparent;
  border: none;
}

html {
  font-size: 125%;
}

body {
  font-family: "Open Sans";
}

nav {
  font-family: "Montserrat";
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat";
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

ul,
li,
a,
input,
p,
img {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
a,
p {
  font-size: 0.7rem;
  letter-spacing: 0.3px;
}

i {
  font-size: 1rem;
}

.navBar {
  color: #333333;
  text-transform: uppercase;
}
.navBar h1 {
  font-weight: bold;
}
.navBar ul, .navBar a, .navBar p {
  font-size: 0.7rem;
}
.navBar .home {
  text-decoration: line-through;
}
.navBar .smallText {
  font-size: 0.4rem;
}

h1 {
  font-size: 1.85rem;
}

h2 {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1.8px;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.8rem;
  letter-spacing: 0.3px;
}

section p {
  line-height: 24px;
  color: #737373;
}

.brandingSection p {
  color: #333333;
}

.portfolio p {
  font-style: italic;
}
.portfolio a {
  font-weight: bold;
  font-size: 1.85rem;
}

.aboutUs i {
  font-size: 1.5rem;
}

.teamImgGallery .secondTextContainer p {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.lineSection a {
  text-transform: uppercase;
  font-weight: bold;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  background-color: #f6f6f6;
  color: #ffffff;
  z-index: 10;
}
.skipLink:focus {
  left: 0;
}

.navBar {
  top: 0;
  padding: 15px 0;
  z-index: 10;
}
.navBar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navBar ul, .navBar .searchCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navBar a {
  padding: 15px;
}
.navBar .shoppingBag {
  position: relative;
}
.navBar .shoppingBag .counter {
  background-color: #c3dab7;
  display: inline-block;
  position: absolute;
  bottom: -10px;
  right: -5px;
  border-radius: 50%;
}
.navBar .smallText {
  padding: 4px;
}

header {
  background-image: url(../assets/home-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brandingSection {
  background-color: #c3dab7;
  padding: 180px 0 100px 0;
}
.brandingSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.brandingSection .imgContainer {
  position: relative;
}
.brandingSection .absoluteImg {
  position: absolute;
  top: -95px;
  left: -110px;
}
.brandingSection .textContainer {
  width: calc(35% - 50px);
  text-align: center;
  padding: 75px 25px 0 25px;
}
.brandingSection p {
  padding-top: 15px;
}

.portfolio {
  background-color: #ffffff;
  padding: 125px 0 100px 0;
}
.portfolio img {
  border-radius: 50%;
}
.portfolio .flexContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.portfolio .flexContainer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}
.portfolio .flexContainer p {
  padding-top: 40px;
}

.aboutUs {
  background-image: url(../assets/home-4.jpeg);
  background-size: cover;
  background-position: center;
}
.aboutUs .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.aboutUs i {
  color: #333333;
  border: 1px solid #333333;
  border-radius: 50%;
  height: 50%;
  padding: 15px;
}
.aboutUs P {
  padding-top: 15px;
}
.aboutUs .aboutUsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 180px 0 100px 0;
}
.aboutUs .textContainer {
  padding-left: 20px;
}
.aboutUs li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 20px);
  padding-bottom: 30px;
  padding-left: 20px;
}

.teamGallery {
  background-color: #ffffff;
}
.teamGallery h3 {
  text-align: center;
  margin: 150px 0 100px 0;
}
.teamGallery h4 {
  letter-spacing: 3px;
}
.teamGallery .textContainer, .teamGallery .secondTextContainer, .teamGallery img {
  margin: 15px;
}
.teamGallery .teamImgGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 150px 0;
}
.teamGallery .teamImgGallery .textContainer {
  width: calc(50% - 30px);
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 45px;
}
.teamGallery .teamImgGallery .textContainer p {
  padding-top: 30px;
}
.teamGallery .teamImgGallery img {
  width: calc(25% - 30px);
}
.teamGallery .teamImgGallery .secondTextContainer {
  width: 25%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(25% - 30px);
}
.teamGallery .teamImgGallery .secondTextContainer p {
  padding: 75px;
  text-align: center;
}

.lineSection {
  background-color: #c3dab7;
  background-image: url(../assets/home-10.jpeg);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.lineSection .wrapper {
  width: 100%;
  max-width: 100%;
}
.lineSection .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 200px 0 200px 0;
}
.lineSection .flexContainer p {
  padding: 100px 100px 75px 100px;
}
.lineSection .flexContainer a {
  background-color: #ffffff;
  padding: 15px 20px;
}