html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

.navBar button {
  background-color: transparent;
  border: none;
}

.blogWrapper {
  width: 80%;
}

.contactWrapper {
  width: 70%;
}

button {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.blogButton:hover, .blogButton:focus {
  color: #ffffff;
  background-color: #333333;
  padding: 5px;
}

html {
  font-size: 125%;
}

body {
  font-family: "Open Sans";
}

nav {
  font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
.blogH2,
.blogH3 {
  font-family: "Montserrat";
  font-weight: normal;
  color: #333333;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

ul,
li,
a,
input,
p,
img {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
a,
p {
  font-size: 0.7rem;
  letter-spacing: 0.3px;
}

i {
  font-size: 1rem;
}

.navBar {
  color: #333333;
  text-transform: uppercase;
}
.navBar h1 {
  font-weight: bold;
}
.navBar ul, .navBar a, .navBar p {
  font-size: 0.7rem;
}
.navBar .home {
  text-decoration: line-through;
}
.navBar .smallText {
  font-size: 0.4rem;
}

h1 {
  font-size: 1.85rem;
}

h2 {
  font-size: 0.9rem;
  font-weight: 500;
  letter-spacing: 1.8px;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 0.8rem;
  letter-spacing: 0.3px;
}

.blogH2 {
  font-size: 3rem;
  font-weight: bold;
}

.blogH3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.contactH2 {
  font-size: 2.5rem;
  font-weight: bold;
}

.contactH3, .contactDetails H4 {
  font-weight: bold;
}

address, email {
  font-size: 0.7rem;
}

section p {
  line-height: 24px;
  color: #737373;
}

.brandingSection p {
  color: #333333;
}

.portfolio p {
  font-style: italic;
}
.portfolio a {
  font-weight: bold;
  font-size: 1.85rem;
}

.aboutUs i {
  font-size: 1.5rem;
}

.teamImgGallery .secondTextContainer p {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.lineSection a {
  text-transform: uppercase;
  font-weight: bold;
}

.commentCounter {
  color: #333333;
  font-family: "Montserrat";
}

.blogComments .name {
  color: #333333;
  text-transform: uppercase;
}
.blogComments .comment span {
  color: #737373;
  font-style: italic;
  text-transform: none;
}
.blogComments .date {
  color: #b9b9b9;
}

.postComment input, .postComment textarea {
  font-family: "Open Sans";
  color: #737373;
  font-size: 0.7rem;
  padding-bottom: 10px;
}
.postComment .email {
  color: #333333;
}
.postComment button {
  font-family: "Open Sans";
  color: #333333;
  text-transform: uppercase;
}

footer {
  color: #f6f6f6;
}
footer h2 {
  color: #f6f6f6;
}
footer p {
  line-height: 24px;
}
footer ul {
  list-style: disc;
}
footer li {
  line-height: 30px;
}

.contactComment .contactFieldset {
  margin-top: 75px;
}
.contactComment button {
  font-weight: bold;
}

.secondTextContainer a {
  font-size: 0.7rem;
  line-height: 24px;
  font-family: "Open Sans";
  color: #737373;
  text-transform: uppercase;
}

.skipLink {
  position: absolute;
  left: -1000px;
  top: 5px;
  background-color: #f6f6f6;
  color: #ffffff;
  z-index: 10;
}
.skipLink:focus {
  left: 0;
}

.navBar {
  position: sticky;
  top: 0;
  padding: 15px 0;
  z-index: 10;
  background-color: #efefef;
}
.navBar .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.navBar ul, .navBar .searchCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navBar a {
  padding: 15px;
}
.navBar .shoppingBag {
  position: relative;
}
.navBar .shoppingBag .counter {
  background-color: #c3dab7;
  display: inline-block;
  position: absolute;
  bottom: -10px;
  right: -5px;
  border-radius: 50%;
}
.navBar .smallText {
  padding: 4px;
}

.navBar label div {
  z-index: 20;
  cursor: pointer;
}
.navBar i {
  cursor: pointer;
}

.menuIcon {
  padding: 25px;
}

.slideOutNav {
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  max-width: 200px;
  color: #ffffff;
  padding: 35px 50px;
  -webkit-transition: 0.75s;
  transition: 0.75s;
  display: none;
}
.slideOutNav ul {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slideOutNav ul li {
  padding: 10px;
}

header {
  background-image: url(../assets/home-1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.blogHeader {
  background-image: url(../assets/blog-1.jpeg);
}

.contactHeader {
  background-image: url(../assets/contact-1.jpeg);
  background-size: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-position: top;
}
.contactHeader .contactH2 {
  width: 25%;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brandingSection {
  background-color: #c3dab7;
  padding: 180px 0 100px 0;
}
.brandingSection .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.brandingSection .imgContainer {
  position: relative;
}
.brandingSection .absoluteImg {
  position: absolute;
  top: -95px;
  left: -110px;
}
.brandingSection .textContainer {
  width: calc(35% - 50px);
  text-align: center;
  padding: 75px 25px 0 25px;
}
.brandingSection p {
  padding-top: 15px;
}

.portfolio {
  background-color: #ffffff;
  padding: 125px 0 100px 0;
}
.portfolio img {
  border-radius: 50%;
}
.portfolio .flexContainer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.portfolio .flexContainer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}
.portfolio .flexContainer p {
  padding-top: 40px;
}

.aboutUs {
  background-image: url(../assets/home-4.jpeg);
  background-size: cover;
  background-position: center;
}
.aboutUs .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.aboutUs i {
  color: #333333;
  border: 1px solid #333333;
  border-radius: 50%;
  padding: 15px;
}
.aboutUs P {
  padding-top: 15px;
}
.aboutUs .aboutUsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 180px 0 100px 0;
}
.aboutUs .textContainer {
  padding-left: 20px;
}
.aboutUs li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(50% - 35px);
  min-width: 50%;
  padding-bottom: 30px;
  padding-left: 20px;
}

.teamGallery {
  background-color: #ffffff;
}
.teamGallery h3 {
  text-align: center;
  margin: 150px 0 100px 0;
}
.teamGallery h4 {
  letter-spacing: 3px;
}
.teamGallery .textContainer, .teamGallery .secondTextContainer {
  margin: 15px;
}
.teamGallery .teamImgGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 150px 0;
}
.teamGallery .teamImgGallery .textContainer {
  width: calc(50% - 30px);
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding: 45px;
}
.teamGallery .teamImgGallery .textContainer p {
  padding-top: 30px;
}
.teamGallery .teamImgGallery a {
  width: calc(25% - 30px);
  margin: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 0.7rem;
}
.teamGallery .teamImgGallery a:hover, .teamGallery .teamImgGallery a:focus {
  padding: 10px;
  opacity: 80%;
}
.teamGallery .teamImgGallery img {
  width: 100%;
}
.teamGallery .teamImgGallery .secondTextContainer {
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(25% - 30px);
}
.teamGallery .teamImgGallery .secondTextContainer a {
  margin: 0;
  width: 100%;
  padding: 75px;
  text-align: center;
}

.lineSection {
  background-color: #c3dab7;
  background-image: url(../assets/home-10.jpeg);
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-position: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.lineSection .wrapper {
  width: 100%;
  max-width: 100%;
}
.lineSection .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 200px 0 200px 0;
}
.lineSection .flexContainer p {
  padding: 100px 100px 75px 100px;
}
.lineSection .flexContainer a {
  background-color: #ffffff;
  padding: 15px 20px;
}

.blogPost,
.blogRelatedPosts,
.blogComments,
.postComment {
  background-color: #ffffff;
  margin-top: 100px;
}

.blogProfile, .blogH3 {
  padding-bottom: 30px;
  border-bottom: 1px solid #737373;
}

.blogH2 {
  text-align: left;
  padding-bottom: 40px;
}

.blogPost .smallerTitle {
  color: #333333;
}
.blogPost span {
  color: #737373;
}
.blogPost .blogProfile, .blogPost .blogProfilePic, .blogPost .blogProfileDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.blogPost .blogProfilePic, .blogPost .blogProfileDate {
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blogPost .blogProfile {
  margin-top: 75px;
}
.blogPost .blogProfilePic img {
  border-radius: 50%;
}
.blogPost .blogProfilePic .textContainer {
  margin-left: 40px;
}
.blogPost .blogProfileDate {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogPost article {
  margin-top: 50px;
}
.blogPost article p {
  padding-bottom: 30px;
}
.blogPost article .blogIntro {
  color: #333333;
  font-weight: bold;
}
.blogPost .share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}
.blogPost .share a {
  padding-left: 20px;
}

.blogRelatedPosts .postsGallery {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blogRelatedPosts a {
  width: 31%;
}
.blogRelatedPosts img {
  width: 100%;
}
.blogRelatedPosts p {
  padding-top: 30px;
  color: #333333;
}

.commentSection {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.commentSection .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
}
.commentSection .comment p {
  padding-bottom: 15px;
}
.commentSection img {
  height: 50%;
}
.commentSection .textContainer {
  background-color: #f6f6f6;
  width: 100%;
  margin-left: 40px;
  padding: 20px 25px 20px 25px;
}

.postComment {
  margin-bottom: 200px;
}
.postComment input, .postComment textarea {
  border: none;
  width: 31%;
  border-bottom: #737373 1px solid;
}
.postComment input {
  margin-top: 50px;
}
.postComment textarea {
  width: 100%;
  margin: 40px 0 60px 0;
}
.postComment fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: none;
  padding: 0;
  margin: 0;
}
.postComment button {
  border: none;
  border-bottom: 1px solid #333333;
  background-color: #ffffff;
}

.contactH3 {
  padding-bottom: 30px;
}

.contactDetails {
  margin-top: 150px;
}
.contactDetails .flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contactDetails .contactInfo {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contactDetails .contactInfo div {
  width: calc(33.3333333333% - 20px);
  padding: 75px 40px 75px 40px;
}
.contactDetails .contactInfo div h4 {
  padding-bottom: 15px;
}
.contactDetails .contactInfo div i {
  padding-bottom: 20px;
}
.contactDetails .address {
  border-left: 1px solid #f6f6f6;
  border-right: 1px solid #f6f6f6;
}
.contactDetails i {
  font-size: 2rem;
}
.contactDetails h4 {
  letter-spacing: 7px;
}

.contactComment {
  margin-bottom: 125px;
}

.bottomImg div {
  background-image: url(../assets/contact-2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  height: 100vh;
}

footer {
  background-color: #333333;
}
footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
footer h2 {
  padding: 150px 0 50px 0;
}

.contactNav .footerSocial {
  padding-top: 40px;
}
.contactNav .footerSocial a {
  padding-right: 15px;
}

.blogPosts h2 {
  text-align: center;
}

.twitterForm h2 {
  text-align: right;
}
.twitterForm form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  font-family: "Open Sans";
  font-size: 0.7rem;
  padding-top: 40px;
}
.twitterForm form input {
  padding: 10px;
  padding-right: 50px;
  border-radius: 0;
  border: none;
}
.twitterForm form button {
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  background-color: #c3dab7;
}
.twitterForm form button p {
  font-size: 1rem;
  font-weight: bold;
}

.footerLogo {
  border-top: 1px solid #424242;
  margin-top: 200px;
}
.footerLogo p {
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  padding: 75px 0;
}

@media (max-width: 1150px) {
  .mainHeader {
    height: 70vh;
  }
  .aboutUs .aboutUsList {
    width: 70%;
  }
  .footerLogo {
    margin-top: 100px;
  }
  .teamGallery h3 {
    margin: 100px;
  }
  .teamGallery .teamImgGallery {
    margin-bottom: 75px;
  }
  .teamGallery .teamImgGallery a {
    width: calc(50% - 30px);
  }
  .teamGallery .teamImgGallery .secondTextContainer {
    width: calc(100% - 30px);
  }
  .teamGallery .teamImgGallery .secondTextContainer a {
    font-size: 1.25rem;
    padding: 50px;
  }
  footer .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  footer .wrapper h2 {
    padding-top: 75px;
  }
  footer .wrapper .twitterForm h2 {
    text-align: center;
  }
  footer .wrapper .twitterForm form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contactDetails .contactInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contactDetails .contactInfo div {
    width: 100%;
    padding: 30px;
  }
  .bottomImg div {
    height: 30vh;
  }
}
@media (max-width: 850px) {
  .mainHeader {
    height: 50vh;
  }
  .aboutUs .aboutUsList {
    width: 70%;
  }
  .navBar .wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navBar input,
.navBar label,
.navBar label div {
    display: block;
  }
  .navBar label div {
    padding-left: 20px;
  }
  .navBar .remove {
    display: none;
  }
  .aboutUs .aboutUsList {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .aboutUs .aboutUsList li {
    width: 80%;
  }
  .brandingSection .absoluteImg {
    display: none;
  }
  .brandingSection .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .brandingSection .flexContainer .textContainer {
    width: 80%;
  }
  .teamGallery .teamImgGallery {
    margin-bottom: 75px;
  }
  .teamGallery .teamImgGallery a, .teamGallery .teamImgGallery .textContainer {
    width: calc(100% - 30px);
  }
}
@media (max-width: 450px) {
  .wrapper {
    width: 100%;
  }
  .lineSection {
    background-image: none;
    background-position: 0;
  }
  .lineSection .wrapper .flexContainer {
    width: 100%;
    padding: 75px 0 75px 0;
  }
  .lineSection .wrapper .flexContainer p {
    padding: 50px;
  }
}